<a href="https://colab.research.google.com/github/MRI-2021/Computer-science-fundamentals/blob/main/Analysis%20member_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving member_activity.csv to member_activity (1).csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['member_activity.csv']))
# Dataset is now stored in a Pandas Dataframe

In [4]:
print('\n=============HEAD=============')
print(df.head(3))

print('\n=============INFO=============')
df.info()

print('\n=============COLUMN NAMES=============')
print(df.columns)

print('\n=============SHAPE=============')
print(df.shape)

print('\n=============SIZE=============')
print(df.size) ## Returns number of elements in this object.

print('\n=============DESCRIBE=============')
print(df.describe())

=============HEAD=============
   member_id  ftd  ftb  bet_5  acquisition_cost  bets_1_week  bets_4_weeks  \
0     868104    1    1      0          0.000000            2             2
1     868236    1    1      0         26.046512            3             3
2     868283    1    1      1          0.000000           10            16

   retained_1_week  retained_4_weeks first_bet_category  deposits_12_weeks  \
0                0                 0       Horse Racing                1.0
1                0                 0           Football                1.0
2                1                 1           Football               16.0

   deposit_amount_12_weeks  bets_12_weeks  stake_12_weeks  revenue_12_weeks
0                     20.0              2       19.999990         27.999986
1                     20.0              3      102.269891         27.991587
2                   1600.0             32     3135.739803      -1789.131460

=============INFO=============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18963 entries, 0 to 18962
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   member_id                18963 non-null  int64
 1   ftd                      18963 non-null  int64
 2   ftb                      18963 non-null  int64
 3   bet_5                    18963 non-null  int64
 4   acquisition_cost         18963 non-null  float64
 5   bets_1_week              18963 non-null  int64
 6   bets_4_weeks             18963 non-null  int64
 7   retained_1_week          18963 non-null  int64
 8   retained_4_weeks         18963 non-null  int64
 9   first_bet_category       11039 non-null  object
 10  deposits_12_weeks        11824 non-null  float64
 11  deposit_amount_12_weeks  11824 non-null  float64
 12  bets_12_weeks            18963 non-null  int64
 13  stake_12_weeks           18963 non-null  float64
 14  revenue_12_weeks         18963 non-null  float64
dtypes: float64(5), int64(9), object(1)
memory usage: 2.2+ MB

=============COLUMN NAMES=============
Index(['member_id', 'ftd', 'ftb', 'bet_5', 'acquisition_cost', 'bets_1_week',
       'bets_4_weeks', 'retained_1_week', 'retained_4_weeks',
       'first_bet_category', 'deposits_12_weeks', 'deposit_amount_12_weeks',
       'bets_12_weeks', 'stake_12_weeks', 'revenue_12_weeks'],
      dtype='object')

=============SHAPE=============
(18963, 15)

=============SIZE=============
284445

=============DESCRIBE=============
           member_id           ftd           ftb         bet_5  \
count   18963.000000  18963.000000  18963.000000  18963.000000
mean   895531.266835      0.631229      0.582134      0.263091
std     15246.970947      0.482484      0.493221      0.440323
min    868041.000000      0.000000      0.000000      0.000000
25%    882270.500000      0.000000      0.000000      0.000000
50%    896752.000000      1.000000      1.000000      0.000000
75%    909983.000000      1.000000      1.000000      1.000000
max    919292.000000      1.000000      1.000000      1.000000

       acquisition_cost   bets_1_week  bets_4_weeks  retained_1_week  \
count      18963.000000  18963.000000  18963.000000     18963.000000
mean          14.835794      5.844276     11.428519         0.210515
std           23.183306     22.935386     54.024381         0.407685
min            0.000000      0.000000      0.000000         0.000000
25%            0.000000      0.000000      0.000000         0.000000
50%            0.000000      1.000000      1.000000         0.000000
75%           27.673469      3.000000      4.000000         0.000000
max          466.087000   1170.000000   2649.000000         1.000000

       retained_4_weeks  deposits_12_weeks  deposit_amount_12_weeks  \
count      18963.000000       11824.000000             11824.000000
mean           0.160787           5.469638               303.842613
std            0.367344          17.075022              1892.630304
min            0.000000           1.000000                 7.183908
25%            0.000000           1.000000                20.000000
50%            0.000000           1.000000                20.000000
75%            0.000000           3.000000                60.000000
max            1.000000         421.000000             95832.960000

       bets_12_weeks  stake_12_weeks  revenue_12_weeks
count   18963.000000    1.896300e+04      18963.000000
mean       19.279281    5.770449e+02         34.162098
std       111.934597    1.092735e+04        918.915695
min         0.000000    0.000000e+00     -84749.293859
25%         0.000000    0.000000e+00          0.000000
50%         1.000000    1.999999e+01          0.000000
75%         4.000000    4.132992e+01         28.000000
max      7138.000000    1.380653e+06      22471.062912

In [5]:
df_gb = df.groupby(['deposit_amount_12_weeks', 'member_id'])
df_gb

In [6]:
df_agg = df_gb.agg({'deposit_amount_12_weeks': 'size'})
df_agg

                                   deposit_amount_12_weeks
deposit_amount_12_weeks member_id
7.183908                902899                           1
7.209499                892463                           1
8.559072                912255                           1
                        912446                           1
8.580517                908085                           1
...                                                    ...
43345.210000            895892                           1
43570.000000            916024                           1
47237.000000            899520                           1
68227.000000            895977                           1
95832.960000            910527                           1

[11824 rows x 1 columns]

In [7]:
# Using the pandas dataframe nunique() function with default parameters gives a count of all the distinct values in each column.

print(df.nunique())

member_id                  18963
ftd                            2
ftb                            2
bet_5                          2
acquisition_cost             195
bets_1_week                  215
bets_4_weeks                 360
retained_1_week                2
retained_4_weeks               2
first_bet_category            24
deposits_12_weeks            154
deposit_amount_12_weeks     1396
bets_12_weeks                481
stake_12_weeks              7104
revenue_12_weeks            7325
dtype: int64

In [8]:
df['ftd'].value_counts()

1    11970
0     6993
Name: ftd, dtype: int64

In [9]:
df['ftb'].value_counts()

1    11039
0     7924
Name: ftb, dtype: int64

In [10]:
df['bet_5'].value_counts()

0    13974
1     4989
Name: bet_5, dtype: int64

In [11]:
df['retained_1_week'].value_counts()

0    14971
1     3992
Name: retained_1_week, dtype: int64

In [15]:
df['retained_4_weeks'].value_counts()

0    15914
1     3049
Name: retained_4_weeks, dtype: int64

In [13]:
df['first_bet_category'].value_counts()

Accumulator             4628
Horse Racing            3202
Football                2341
Rugby                    138
Politics                  90
Tennis                    82
Golf                      82
Tv And Entertainment      67
American Football         64
Greyhound Racing          62
Basketball                62
Mma                       60
Motorsports               38
Cricket                   25
Darts                     25
Cycling                   23
Snooker                   21
Boxing                    11
Esports                    6
Ice Hockey                 5
Baseball                   3
Rugby League               2
Table Tennis               1
Current Affairs            1
Name: first_bet_category, dtype: int64