<a href="https://colab.research.google.com/github/MRI-2021/Computer-science-fundamentals/blob/main/Analysis%20member_demographics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving member_demographics.csv to member_demographics.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['member_demographics.csv']))
# Dataset is now stored in a Pandas Dataframe

In [5]:
## Import dataset and assign it to variable "df".
## Look at your data to learn more about it.

print('\n=============HEAD=============')
print(df.head(3))

print('\n=============INFO=============')
df.info()

print('\n=============COLUMN NAMES=============')
print(df.columns)

print('\n=============SHAPE=============')
print(df.shape)

print('\n=============SIZE=============')
print(df.size) ## Returns number of elements in this object.

print('\n=============DESCRIBE=============')
print(df.describe())

=============HEAD=============
   member_id             signup_datetime  age member_type signup_source  \
0     868189   2021-01-01 13:41:41.33706   19    Customer     Affiliate
1     868381   2021-01-01 17:19:13.37852   29    Customer     Affiliate
2     868389  2021-01-01 17:26:55.231405   39    Customer       Organic

  signup_channel
0     Influencer
1     Ad Network
2        Organic

=============INFO=============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18963 entries, 0 to 18962
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   member_id        18963 non-null  int64
 1   signup_datetime  18963 non-null  object
 2   age              18963 non-null  int64
 3   member_type      18963 non-null  object
 4   signup_source    18963 non-null  object
 5   signup_channel   18963 non-null  object
dtypes: int64(2), object(4)
memory usage: 889.0+ KB

=============COLUMN NAMES=============
Index(['member_id', 'signup_datetime', 'age', 'member_type', 'signup_source',
       'signup_channel'],
      dtype='object')

=============SHAPE=============
(18963, 6)

=============SIZE=============
113778

=============DESCRIBE=============
           member_id           age
count   18963.000000  18963.000000
mean   895531.266835     33.591415
std     15246.970947     12.332943
min    868041.000000     18.000000
25%    882270.500000     24.000000
50%    896752.000000     30.000000
75%    909983.000000     41.000000
max    919292.000000    121.000000

In [33]:
df_gb = df.groupby(['member_type', 'age'])
df_gb ## It tells us the groupby object has been initiated and you can now perform the special groupby operations ().

In [34]:
##size (gets how many entries are in the specified colum)
df_agg = df_gb.agg({'member_type': 'size'})
df_agg

                 member_type
member_type age
Customer    18            11
            19           870
            20           798
            21           938
            22           973
...                      ...
            99             1
            102            1
            121            3
Employee    47             1
            48             1

[78 rows x 1 columns]

In [28]:
df[df['age'] > 60].groupby('age')['age'].count()

age
61     78
62     67
63     70
64     52
65     50
66     50
67     38
68     39
69     34
70     25
71     21
72     14
73     15
74     14
75     21
76      5
77     16
78     11
79      7
80      3
81      3
82      5
83      1
84      1
85      2
86      1
87      1
88      1
90      2
91      1
99      1
102     1
121     3
Name: age, dtype: int64

In [39]:
df['member_type'].value_counts()

Customer    18961
Employee        2
Name: member_type, dtype: int64

In [41]:
df['signup_source'].value_counts()

Organic      7854
Affiliate    7045
Paid         4064
Name: signup_source, dtype: int64

In [42]:
df['signup_channel'].value_counts()

Organic            7854
SEO Affiliate      2319
Odds Comparison    1946
Social             1291
Influencer         1275
Ad Networks        1122
Google             1077
Ad Network         1023
Apple               569
Unclassified        482
None                  5
Name: signup_channel, dtype: int64

In [43]:
df['member_id'].value_counts()

868189    1
908299    1
908217    1
908042    1
908018    1
         ..
901638    1
901574    1
901540    1
901426    1
919281    1
Name: member_id, Length: 18963, dtype: int64

In [51]:
df['age'].value_counts()

23     977
22     973
21     938
19     870
24     863
      ...
84       1
88       1
91       1
102      1
87       1
Name: age, Length: 76, dtype: int64

In [52]:
df['signup_datetime'].value_counts()

2021-01-01 13:41:41.33706     1
2021-03-15 20:01:33.930628    1
2021-03-15 19:09:09.619988    1
2021-03-15 16:12:14.29447     1
2021-03-15 15:49:09.04111     1
                             ..
2021-03-03 15:33:06.764827    1
2021-03-03 13:08:55.937165    1
2021-03-03 12:12:01.425638    1
2021-03-03 01:21:59.733715    1
2021-03-31 22:08:04.841143    1
Name: signup_datetime, Length: 18963, dtype: int64

In [56]:
df_gb = df.groupby(['signup_datetime', 'age'])
df_gb

df_agg = df_gb.agg({'signup_datetime': 'size'})
df_agg

                                signup_datetime
signup_datetime            age
2021-01-01 00:48:55.736467 20                 1
2021-01-01 01:37:51.653839 20                 1
2021-01-01 01:44:53.356374 46                 1
2021-01-01 01:45:33.428287 34                 1
2021-01-01 01:46:15.470817 30                 1
...                                         ...
2021-03-31 21:20:02.330705 37                 1
2021-03-31 22:08:04.841143 24                 1
2021-03-31 22:53:31.504273 43                 1
2021-03-31 22:56:49.742662 26                 1
2021-03-31 23:13:56.680136 31                 1

[18963 rows x 1 columns]